<div class="schema-card p-a-1 m-a-1">
  <div class="card-title">
    <div class="clearfix">
      <label class="pull-xs-left">schema</label>
      <a class="pull-xs-right" href="{{url}}" target="_blank">{{fa-icon "external-link"}}</a>
    </div>
    <h1 class="text-xs-center">{{schema.id}}</h1>
  </div>
</div>
