<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 schemas">
  <div class="row">
    <div class="schemas-controls p-a-1">
      <button type="button" name="button" class="btn btn-green">
        Add a schema
      </button>
      <button type="button" name="button" class="btn btn-red">
        Deploy
      </button>
    </div>
    <div class="schemas-viewport p-a-1">
      schemas content
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 logs">
  <div class="row">
    <div class="logs-search p-a-1">
      <div class="input-group">
        {{input type="text" class="form-control" placeholder="Search your logs"}}
        <span class="input-group-addon">
          {{fa-icon "search"}}
        </span>
      </div>
    </div>
    <div class="logs-viewport p-a-1">
      logs
    </div>
  </div>
</div>
