<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 schemas">
  <div class="row">
    <div class="schemas-viewport p-a-1">
      <div class="row">
        {{#each model as |schema|}}
          {{schema-card schema=schema}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
